
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLinkLabel" data-translate="myappApp.link.home.createOrEditLabel">Create or edit a Link</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.link.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.link.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="myappApp.link.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                    ng-model="vm.link.value"
                    required ng-maxlength="255"/>
            <div ng-show="editForm.value.$invalid">
                <p class="help-block"
                    ng-show="editForm.value.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.value.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="myappApp.link.provider" for="field_provider">Provider</label>
            <select class="form-control" id="field_provider" name="provider" ng-model="vm.link.provider" ng-options="provider as provider.name for provider in vm.providers track by provider.id" required>
            </select>
        </div>
        <div ng-show="editForm.provider.$invalid">
            <p class="help-block"
                ng-show="editForm.provider.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="myappApp.link.linkType" for="field_linkType">Link Type</label>
            <select class="form-control" id="field_linkType" name="linkType" ng-model="vm.link.linkType" ng-options="linkType as linkType.name for linkType in vm.linktypes track by linkType.id" required>
            </select>
        </div>
        <div ng-show="editForm.linkType.$invalid">
            <p class="help-block"
                ng-show="editForm.linkType.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
