<div>
    <h2 data-translate="myappApp.user.home.title">Users</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="myappApp.user.home.createLabel">
                        Create new User
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'myappApp.user.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstName"><span data-translate="myappApp.user.firstName">First Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastName"><span data-translate="myappApp.user.lastName">Last Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="login"><span data-translate="myappApp.user.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="password"><span data-translate="myappApp.user.password">Password</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address.email"><span data-translate="myappApp.user.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userType.value"><span data-translate="myappApp.user.userType">User Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users track by user.id">
                    <td><a ui-sref="user-detail({id:user.id})">{{user.id}}</a></td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.login}}</td>
                    <td>{{user.password}}</td>
                    <td>
                        <a ui-sref="address-detail({id:user.address.id})">{{user.address.email}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-type-detail({id:user.userType.id})">{{user.userType.value}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-detail({id:user.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user.edit({id:user.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user.delete({id:user.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
