
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOfferDetailsLabel" data-translate="myappApp.offerDetails.home.createOrEditLabel">Create or edit a Offer Details</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.offerDetails.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.offerDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="myappApp.offerDetails.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.offerDetails.description"
                    ng-maxlength="1000"/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="myappApp.offerDetails.isValid" for="field_isValid">Is Valid</label>
            <input type="text" class="form-control" name="isValid" id="field_isValid"
                    ng-model="vm.offerDetails.isValid"
                    required ng-maxlength="1"/>
            <div ng-show="editForm.isValid.$invalid">
                <p class="help-block"
                    ng-show="editForm.isValid.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.isValid.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="myappApp.offerDetails.offer" for="field_offer">Offer</label>
            <select class="form-control" id="field_offer" name="offer" ng-model="vm.offerDetails.offer" ng-options="offer as offer.name for offer in vm.offers track by offer.id" required>
            </select>
        </div>
        <div ng-show="editForm.offer.$invalid">
            <p class="help-block"
                ng-show="editForm.offer.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
